.convertion-container{
    margin: 20px;
}

.tittle-container{
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 100px;

}

.card-control-divisas{
    display: grid;
    grid-template-columns: 70% 30%;
}

.card{
    width: 85%;
}

.divisas-divider{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}