<div class="convertion-container">
     
    <!--Sección de título-->
     <div class="tittle-container">
        <h1> {{ 'convertions.tittle' | translate }} </h1>
    </div>

    <div class="card-control-divisas">
        
        <div class="card">
            <div class="card-body">
                <div class="divisas-divider">

                    <div>
                        <p>  {{'convertions.select_divisas' | translate }} </p>
                    
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" id="divisaS" ngbDropdownToggle></button>

                            <div ngbDropdownMenu aria-labelledby="divisaS">
                                <button ngbDropdownItem> 
                                    {{'countries.mx' | translate }} -  {{'coin.mxn' | translate }}
                                </button>
                                <button ngbDropdownItem> 
                                    {{'countries.us' | translate }} -  {{'coin.usd' | translate }}
                                </button>
                                <button ngbDropdownItem> 
                                    {{'countries.esp' | translate }} -  {{'coin.eur' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>

                    <div>
                        <p>  {{'convertions.convert_to' | translate }} </p>
                    </div>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                nfnfbñnfv
            </div>
        </div>
    </div>
</div>
