<div class="general-container">

    <!--Sección de bienvenida-->
    <div class="welcome-container">
        <h1> {{ 'home.welcome' | translate }} </h1>
        <h6> {{ 'home.tittle' | translate }}</h6>
    </div>

    <!-- Sección de notas-->
    <div class="cards-container">

        <div class="cards-divider">

            <!-- Precio dolar hoy-->
            <div class="card">
                <div class="card-body">
                    <div class="section-date-today">
                        <div class="center-items">
                            <p> {{'home.price_peso_to_dollar' | translate }} </p>
                        </div>

                        <div class="right-items">
                            <p> {{dateToday }}</p>
                        </div>
                            
                    </div>

                    <div class="section-money">
                        <div class="center-items">
                            <img class="img-flag" alt="flagUSA" src=" {{ flagUSA }}"/>
                        </div>
                        
                        <div class="center-items">
                            <p class="price-today">
                                {{'general_symbols.price' | translate }}
                                <strong class="price-active"> {{ priceDollarToday}} </strong> 
                                {{'home.mxn' | translate }}
                        </div>
                        
                    </div>
                </div>
            </div>

            <!-- Noticias-->
            <div class="card">
                <div class="card-body"></div>
            </div>

        </div>

        <div>
            <div class="card">
                <div class="card-body">
                    nfnfbñnfv
                </div>
            </div>
        </div>

    </div>
</div>
