.welcome-container{
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cards-divider{
    display: block;
}

.card{
    margin: 20pxx 30px;
}

h1{
    font-size: 65px;
}

h6{
    font-size: 30px;
}

p{
    font-size: 25px;
}

.price-today{
    font-size: 30px;
}

.price-active{
    font-size: 55px;
}

//Divisiones
.section-date-today{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.section-money{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

//Imagenes
.img-flag{
    width: 50%;
}

//Alineaciones
.center-items{
    display: grid;
    justify-items: center;
    margin: auto;
}

.right-items{
    display: grid;
    justify-items: right;
}