/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

//Images
.logo-img{
    width: 60 px;
}

//Texts
h1{
    font-family: 'KayakBold', sans-serif;
}

h3 {
font-family: 'KayakBold', sans-serif;
}

h6{
    font-family: 'KayakLight',sans-serif;
}

p{
    font-family: 'KayakLight', sans-serif;
}

//Importación de fuentes 
@font-face{
    font-family: KayakLight;
    src: url('../src/assets/fonts/Kayak\ Sans\ Light.otf');

}

@font-face{
    font-family: KayakBold;
    src: url('../src/assets/fonts/Kayak\ Sans\ Bold.otf');
}