<div class="general-divider">
    <div class="general-container">

        <div class="tittle-divider">
            <img class="logo-img" alt="logo" src="{{logo}}"> 
    
            <h3>
                {{ 'menu.title' | translate }}
    
            </h3>
        </div>

        <hr>
    
        <!--Controlador de menú-->
        <div>
            <ul>
                <li routerLinkActive="active">
                    <a [routerLink]="['home']">
                        <div class="item-divider">
                            <img class="img-icon" alt="home" src="{{iconHome}}">
                            <p> {{ 'menu.home' | translate }} </p>
                        </div>
                    </a>
                </li>
    
                <li routerLinkActive="active">
                    <a [routerLink]="['conversions']">
                        <div class="item-divider">
                            <img class="img-icon" alt="convertion" src="{{iconConvertion}}">
                            <p> {{ 'menu.convertion' | translate }} </p>
                        </div>
                    </a>
                </li>
    
                <li routerLinkActive="active">
                    <a [routerLink]="['graphs']">
                        <div class="item-divider">
                            <img class="img-icon" alt="graphs" src="{{iconGraphs}}">
                            <p> {{ 'menu.graphs' | translate }} </p>
                        </div>
                    </a>
                </li>
    
                <li routerLinkActive="active">
                    <a [routerLink]="['records']">
                        <div class="item-divider">
                            <img class="img-icon" alt="records" src="{{iconRecords}}">
                            <p> {{ 'menu.records' | translate }} </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    <div>
        <router-outlet></router-outlet>
    </div>
</div>