.general-divider{
    display: grid;
    grid-template-columns: 15% 85%;
    height: 100vh;
}
.general-container{
background-color: #7A6BC8;
padding: 10px;
}

.logo-img {
    width: 60px;
}

.tittle-divider {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-items: center;
}

.item-divider{
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 15px 10 px;
}

.img-icon{
    width: 20px;
}

hr {
    border-top: 1px solid #ffffff;
}

ul{
    margin-top: 250px;
    padding-left: 5px;;
}

li{
    margin: 15px 0px;
}

ul li{
    list-style-type: none;
}

ul li a{

    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
    display: block;
}

li.active > a {
    background-color: rgba($color: #ffffff, $alpha: 0.3);
    border-radius: 10px;
}

h3{
    color: #ffffff;
}

p{
    font-family: 'KayakBold', sans-serif;
    font-size: 20px;
    margin-bottom: 0px;
}